torch==1.13.0+cu117
torchaudio==0.13.0+cu117
torchvision==0.14.0+cu117
scikit-learn==1.3.2
tqdm==4.65.2
tensorboardX==2.6.2.2
timm==0.9.12
opencv-python==4.8.1.78
pandas
moviepy
PySoundFile==0.9.0.post1
scikit-image==0.21.0
librosa==0.10.1
einops==0.7.0
ffmpeg==1.4
openmim
mmengine==0.7.0
mmcv==1.7.0
tensorboard==2.14.0
pydub==0.25.1
resampy==0.4.2
torchsummary==1.5.1
torchstat==0.0.7
