numpy 
Pillow
torch==1.8.1+cu102
torchvision==0.9.1+cu102
torchaudio
mmcv==1.7.0
mmengine==0.7.0
einops
pysoundfile
tensorboardX
timm
librosa
pandas
tensorboard
resampy
pydub
torchsummary
torchstat
ffmpeg
